<% include ./partials/header %>



<form class="loginSignup" action="/login" method="POST">
    <h1>Login</h1>
    <input type="text" name="username" placeholder = "username">
    <input type="password" name="password" placeholder ="password">
    <button>Login</button>
</form>
<% include ./partials/footer %>