<% include ./partials/header %>

<form class="loginSignup" action="/register" method="POST">
    <h1>Sign up</h1>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<% include ./partials/footer %>