.delete-form {
    display: inline;
}


.thumbnail img {
    width: 100%;
    
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.loginSignup { 
    width:30%; 
    margin: 25px auto;
    
}

.thumbnail .campgroundImage {
    height: 150px;
}